# Local dev values
LOG_LEVEL=debug

API_INTERNAL_PORT=3000
ASSET_URL_PREFIX=
API_PUBLIC_URL=http://localhost
API_PUBLIC_PORT=3000
COOKIE_SECRET=a28e2h32o85ry2hr
SUPERADMIN_IDENTIFIER=superadmin
SUPERADMIN_PASSWORD=superadmin

# MinIO
USE_MINIO=true
MINIO_BUCKET=vendure-assets
MINIO_ROOT_USER=test_user
MINIO_ROOT_PASSWORD=test_password
MINIO_ACCESS_KEY=test_user
MINIO_SECRET_KEY=test_password
STORAGE_ENDPOINT=http://localhost:9000
MINIO_ENDPOINT=http://localhost:9000
MINIO_STORAGE_REGION=

# Redis connection
REDIS_PORT=6379
REDIS_HOST=
REDIS_PASSWORD=

# Database connection
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=admin
DB_PASSWORD=secret
DB_DATABASE=postgres
